@import (reference) '~nav-frontend-core/less/core';
@import (reference) '../../variabler';

.dialogbanner {
    background-color: @navDypBlaLighten80;
    box-sizing: border-box;
    border-bottom: 0.3rem solid @navDypBlaLighten60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 5rem;
    flex-direction: column;
    height: 100px;

    &__lenke {
        margin-right: 1rem;
        align-self: flex-start;
    }
    &__ikon {
        display: none;
    }
    &__tittel {
        display: flex;
        font-size: 1.7rem;
    }
    &--dialogvisning {
        display: none;
    }
}

@media (min-width: @tabletMin) {
    .dialogbanner {
        display: flex;
        padding: 1rem;
        &__lenke {
        }
        &__tittel {
            display: flex;
            font-size: 2rem;
        }
        &__ikon {
            display: block;
            margin-right: 1rem;
        }
    }
}
