@import (reference) '~nav-frontend-core/less/core';

.overflowAuto {
    overflow: auto !important;
}

.dialog {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: @white;
}

.ingenDialog {
    margin: 2rem;
}
