@import (reference) '~nav-frontend-core/less/core';

.dialog {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: @white;
}

.ingenDialog {
    margin: 2rem;
}
