@import (reference) '../variabler';

.dialogContainer {
    background-color: white;
    overflow: auto;
    display: flex;
    flex-grow: 1;
    max-height: 100vh;

    @media (min-width: @md-min) {
        width: 65%;
    }
}
