@import (reference) '~nav-frontend-core/less/core';

.dialog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background: @white;
}

.henvendelse-list {
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
    border-bottom: 2px solid @navLysGra;

    &__viewport {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__henvendelse:first-child {
        margin-top: auto;
    }
}

.label-sr-only label {
    .sr-only();
}
.skriv-melding {
    display: flex;
    flex-basis: 7rem;
    bottom: 0;
    padding: 1rem;
    align-items: flex-end;
    .autosizing-textarea {
        max-height: 7rem;
        overflow: initial !important; //overwrite nav styling
        @media (min-width: 800px) {
            max-height: 15rem;
        }
    }
    .skjemaelement {
        flex: 1;
        margin-bottom: 0;
    }

    .knapp--hoved {
        padding: 0.5rem;
        height: 2.6rem;
        margin-left: 1rem;
    }
}

.checkbox-block {
    display: flex;
    padding-left: 1rem;
    margin-top: 1rem;
    &__item {
        padding-right: 2rem;
    }
}

.skriv-melding .textarea--medMeta__teller {
    left: auto;
    right: 0;
    bottom: -24px;
}
