//@import (reference) '../variabler';

.lukkeknapp {
    align-self: start;
    background-color: var(--a-white);
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    //overide flatknapp
    font-weight: 400;
    padding: 0.5rem;
}

.headerContent {
    flex-grow: 1;
    overflow: hidden;
}

.dialogHeader {
    display: flex;
    align-items: center;
    z-index: 0;
}

.tittelHeader {
    text-align: center;
}

.dialogHeaderShadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
}

.tittel {
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

.feil {
    padding: 1rem;
    background-color: var(--a-gray-100);
    z-index: 1000;
}
