@import (reference) '~nav-frontend-core/less/core';
@import (reference) '../variabler';
@import (reference) '~nav-frontend-knapper-style/src/index';
@import (reference) '~nav-frontend-knapper-style/src/mixins';

.tilbakeTilOversikt {
    padding: 1rem 0.35rem 1rem 0.25rem;
    color: @navMorkGra;
    @media (min-width: @md-min) {
        display: none;
    }
}

.lukkeknapp {
    align-self: start;
    background-color: white;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    .knapp();
    .knappmini-mixin();
    .knappflat-mixin(@navBla, @white, @navDypBla);

    //overide flatknapp
    font-weight: 400;
    padding: 0.5rem;

    @media (max-width: 799px) {
        display: none;
    }
}

.headerContent {
    flex-grow: 1;
    overflow: hidden;
}

.dialogHeader {
    display: flex;
    align-items: center;
    background-color: @lysgraBakrund;
    min-height: 3rem;
    z-index: 0;
}

.tittelHeader {
    text-align: center;

    @media (min-width: @md-min) {
        background-color: white;
    }
}

.overflowHidden {
    overflow: hidden;
}

.dialogHeaderShadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.tittel {
    padding: 1rem;
    flex-grow: 1;
    text-align: center;

    @media (min-width: @md-min) {
        margin-top: 1rem;
    }

    @media (max-width: @md-max) {
        margin-left: -2.58rem;
    }
}
