@import (reference) '~nav-frontend-core/less/core';
@import (reference) '../variabler';

.nyDialog {
    display: flex;
    flex-direction: column;
    background-color: white;

    .form {
        .min-responsive({padding: 0 6% 0 6%;});
        margin: 1rem;
    }

    .tittel {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .infotekst {
        margin: 0 0 1rem 0;
        width: 95%;
    }

    .temafelt {
        width: 65%;
        :disabled {
            text-overflow: ellipsis;
        }
    }

    .skrivMelding {
        display: flex;
        flex-basis: 7rem;
        bottom: 0;
        padding: 1rem 1rem 1rem 0;
        align-items: flex-end;

        :global {
            .knapp--hoved {
                padding: 0.5rem;
                height: 2.6rem;
                margin-left: 1rem;
            }

            .skjemaelement {
                flex: 1;
                margin-bottom: 0;
            }
        }
    }

    .min-responsive({.infotekst {max-width: 30rem;}});
}

.feil {
    margin-top: 1rem;
}
