.ikon {
    flex-basis: 1.5rem;
    flex-shrink: 0;
    margin: 1rem 1rem 1rem 0.7rem;
    position: relative;
}

.ulestIkon:after {
    content: '';
    height: 8px;
    width: 8px;
    background-color: @navRod;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: -1px;
}
