.soknadSendt {
    background-color: var(--a-green-600);
}

.inkaltTilIntervju {
    background-color: var(--a-blue-600);
}

.jobbtilbud {
    background-color: var(--a-orange-600);
}

.avslag {
    background-color: var(--a-gray-200);
}

.ikkeStartet {
    background-color: var(--a-white);
}

.navGronnLighten60 {
    background-color: var(--a-green-600);
}

.navLysBlaLighten60 {
    background-color: var(--a-blue-600);
}

.navOransjeLighten60 {
    background-color: var(--a-orange-600);
}

.navGra20 {
    background-color: var(--a-gray-200);
}
