.lestContainer {
    display: flex;
    padding: 0.5rem 0 1rem 0;
    justify-content: center;
    align-items: center;
    color: var(--a-gray-600);
}

.pil {
    margin-right: 0.6rem;
    fill: var(--a-gray-600);
}
