.lestContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: var(--a-gray-600);
}

.pil {
    margin-right: 0.6rem;
    fill: var(--a-gray-600);
}
