@import '~nav-frontend-core/less/core';

html,
body,
#root,
.app {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

#pagewrapper {
    margin-bottom: 0 !important; //overstyrer decorator
    padding-bottom: 0 !important; //overstyrer decorator
    display: flex;
    flex-direction: column;
}

#maincontent {
    height: 100%;
}

.app__body {
    display: flex;
    background-color: @navLysGra;
    padding-left: 1rem;
    height: calc(100% - 100px); //Trekke fra banner str
}
