@import (reference) "~nav-frontend-core/less/core";

.dialogbanner{
     background-color: @navDypBlaLighten80;
     box-sizing: border-box;
     border-bottom: 3px solid @navDypBlaLighten60;
     margin-bottom: 2.5rem;

  .dialog-sidetittel{
  }
}

.sidetittel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0 0;
  margin-bottom: 1rem;
  .dialog-ikon{
    padding: 1rem;

  }
}