@import (reference) "~nav-frontend-core/less/core";

.dialogbanner {
  background-color: @navDypBlaLighten80;
  box-sizing: border-box;
  border-bottom: 0.3rem solid @navDypBlaLighten60;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0 0.6rem 0;

  .typo-sidetittel {
    font-size: 1.7rem;
  }

  &__ikon {
    margin: 1rem;
  }

  &--dialogvisning {
    display: none;
  }
}

//Kanskje dette kun skal gjelde mobil-devices?
@media (min-width: 700px) {
  .dialogbanner {
    padding: 3rem 0 1rem 0;

    .typo-sidetittel {
      font-size: 2.5rem;
    }
  }
}
