@import (reference) '~nav-frontend-core/less/core';

.dialog-preview {
    border-left: 8px solid @navBla;
    &--lest {
        border-left-color: transparent;
        .lenkepanel__heading {
            font-weight: normal;
        }
    }

    &.lenkepanel {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border-radius: 0;
        margin-bottom: 0.5rem;
    }
    &__ikon {
        flex-basis: 1.5rem;
        flex-shrink: 0;
        margin: 1rem 1rem 1rem 0.7rem;
    }
    &__internal-div {
        flex: 1;
        overflow: hidden;
        text-align: left;
        .lenkepanel__heading {
            font-size: 1rem;
        }
    }

    &__last-henvendelse {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.875rem;
        color: @navGra80;
    }
    &__etikett {
        margin-right: 0.3rem;
        margin-bottom: 0.15rem;
        padding: 0 0.4rem;

        .typo-normal {
            font-size: 0.8rem;
        }
        &--nav-venter {
            background-color: @navLimeGronnLighten60;
        }
        &--bruker-venter {
            background-color: @navLillaLighten60;
        }
    }
}
