@import (reference) '~nav-frontend-core/less/core';

.arbeidsrettet__dialog--detail {
  background: @navLysGra;
  display: flex;
  flex-direction: column;
}

.arbeidsrettet__dialog--top {
  margin: 0.5rem;

}

.arbeidsrettet__dialog--venter-pa {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  border-style: solid;
  border-width: 0 0 0.2rem 0;
}

.arbeidsrettet__dialog--venter-pa-item {
  flex-grow: 1;
}

.arbeidsrettet__dialog--venter-pa-item-checkbox{
}

.arbeidsrettet__dialog--skriv-melding {
  flex-grow: 1;
  font-weight: bold;
  border-style: solid;
  border-width: 0.2rem 0 0 0;
}

.arbeidsrettet__dialog--meldingsfelt {
}


.arbeidsrettet__dialog--henvendelseList {
  overflow-y: scroll;
  height: 25rem;
}
