@import (reference) '~nav-frontend-core/less/core';

.dialog-preview {
    border-left: 8px solid transparent;
    &--lest {
        border-left-color: @navBla;
    }

    &.lenkepanel {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
    }
    &__ikon {
        flex-basis: 1.5rem;
        flex-shrink: 0;
        margin: 1rem 1rem 1rem 0.7rem;
        position: relative;
        &--lest:after {
            content: '';
            height: 8px;
            width: 8px;
            background-color: @navRod;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 0;
            right: -1px;
        }
    }
    &__internal-div {
        flex: 1;
        overflow: hidden;
        text-align: left;
        .lenkepanel__heading {
            font-size: 1.1rem;
        }
    }

    &__last-henvendelse {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    &__etikett {
        margin-right: 0.3rem;
        margin-bottom: 0.15rem;
        padding: 0 0.4rem;

        .typo-normal {
            font-size: 0.8rem;
        }
        &--nav-venter {
            background-color: @navLimeGronnLighten60;
        }
        &--bruker-venter {
            background-color: @navLillaLighten60;
        }
    }
}
