@import (reference) "~nav-frontend-core/less/core";

.dialog-overview{
  display: flex;
  flex-direction: column;
  background-color:@navLysGra;
  padding: 1rem;
  &__header{
    display: flex;
    flex-basis: 4rem;
    justify-content: space-evenly;
    align-items: center;
    .skjemaelement{
      margin-bottom: 0;
    }

  }
  &__preview-list{
    overflow-y: scroll;
    height: 90%;
    flex:1;
  }
}