@import (reference) '~nav-frontend-core/less/core';

.dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    &.dialog__tom {
        align-items: center;
        text-align: center;
        padding-top: 5rem;
        .infotekst {
            width: 19rem;
            margin-top: 1rem;
        }
        svg {
            width: 10rem;
        }
    }
    &.dialog__maavelges {
        align-items: center;
        padding-top: 10rem;
        svg {
            width: 10rem;
        }
        .infotekst {
            margin-top: 3rem;
        }
    }
    &__header {
        background-color: @navLysGra;
        flex-basis: 4rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        z-index: 100;
        .dialog__tittel {
            padding: 1rem;
        }
    }

    .tilbake-til-oversikt {
        text-decoration: none;
        padding: 1rem;
        display: flex;
        align-items: center;
        color: @navMorkGra;
        font-weight: bold;
    }

    .aktivitetskortpreview {
        display: flex;
        background-color: white;
        height: 4rem;
        margin: 0.5rem;
        border-radius: 0;
        &__ikon {
            flex-basis: 1.5rem;
            flex-shrink: 0;
        }
    }
    @media (min-width: 800px) {
        .tilbake-til-oversikt {
            display: none;
        }
        &__header {
            box-shadow: none;
        }
    }
    @media (min-width: 1200px) {
        &__header {
            display: none;
        }
    }
}

.henvendelse-list {
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
    border-bottom: 2px solid @navLysGra;

    &__viewport {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__henvendelse:first-child {
        margin-top: auto;
    }
}

.skriv-melding {
    display: flex;
    flex-basis: 7rem;
    bottom: 0;
    align-items: center;
    padding: 1rem;
    .skjemaelement {
        flex: 1;
    }
    .textarea__container label {
        .sr-only();
    }
    .knapp--hoved {
        padding: 0.5rem;
        margin-left: 1rem;
    }
}

.meldingsfelt {
    width: 100%;
}
.checkbox-block {
    display: flex;
    padding-left: 1rem;
    &__item {
        padding-right: 2rem;
    }
}
