@import (reference) "~nav-frontend-core/less/core";

.dialogBanner{
     background-color: @navDypBlaLighten80;
     box-sizing: border-box;
}
.linkPathContainer{
  display: flex;
}
.PersonIcon{
  width: 30px;
  height: 30px;
}

.linkPathList{
  list-style: none;
  display: flex;
  &Item{
    color: @navDypBla;
  }
}