@import (reference) "~nav-frontend-core/less/core";

.dialog-overview{
  width: 50%;
  background-color:@navLysGra;
  padding-bottom: 5px;
  &__header{
    display: flex;
    justify-content:space-around;
    background-color: white;
    margin-bottom: 0.3rem;
  }
  &__preview-list{
    overflow-y: scroll;
    height: 25rem;
  }
}