.arbeidsrettet__dialog--dialog-preview{
  &.lenkepanel {
    border-radius: 0;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
  }
  &__internal-div{
    width: 95%;
    text-align: left;
  }

  &__last-henvendelse{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__etikett{
    margin-right: 0.3rem;
  }
}