@import "~nav-frontend-core/less/core";

.henvendelse{
  
}



.snakkeboble{
  width: 100%;
}
.snakkeboble-panel{
  width: 50%;
}

.snakkeboble--venstre{
padding-left: 10%;

}
.snakkeboble--hoyre{
  padding-right: 15%;
}
.ikon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-top: 2px;
  background: no-repeat;
  background-size: cover;

}


.bruker-ikon{
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-top: 2px;
  background-size: cover;
  background-image: data-uri(
          './noytral-bruker.svg'
  );
 }

.veileder-ikon{
  border-radius: 50%;
  background: @navLysBlaDarken80;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: 'NAV';
    color: @white;
    font-style: normal;
  }}
