@import (reference) '~nav-frontend-core/less/core';

.henvendelser {
    &__lest-av-bruker {
        padding: 1rem 0;

        &--tittel {
            position: relative;
            text-align: center;

            &:before {
                content: '';
                position: absolute;
                display: block;
                top: 55%;
                height: 1px;
                width: 78%;
                background-color: @navGra40;
                left: 50%;
                z-index: 1;
                transform: translateX(-50%);
            }

            span {
                display: inline-block;
                position: relative;
                background: white;
                z-index: 2;

                &:first-child {
                    padding-left: 1.5rem;
                }

                &:last-child {
                    padding-right: 1.5rem;
                }
            }
        }
    }
}
