.DialogPreview{
    background-color: red;
    margin-left: 20%;
    width: 20%;
    align-content: start;
    flex-direction: row;
}
.DialogPreviewDato{
    background-color: #61dafb;
    display: flex;
    float: left;
}
.DialogNumberOfMessages{
    background-color: aqua;
    display: flex;
}
.DialogPreviewLastMessage{
    background-color: aliceblue;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}