//@import (reference) '../variabler';

.verktoylinje {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.dintnav {
    display: block;
    margin-left: -0.4rem;

    margin-top: 1rem;

    //overide flatknapp
    padding-left: 0;
    padding-right: 0.5rem;
    font-weight: 400;
}

.tittel {
    padding-top: 0.8rem; //litt mindre en aktivitestittelen pga skriftsørlse
    margin-bottom: 1rem;
}
