@import (reference) '../../variabler';

.dialogOversikt {
    display: flex;
    flex-direction: column;
    background-color: @lysgraBakrund;
    width: 100%;

    @media (min-width: @tabletMin) {
        display: flex;
        width: 35%;
    }
}

.dialogListe {
    padding: 0.7rem;

    flex: 1;

    @media (min-width: @tabletMin) {
        overflow-y: auto;
    }
}

.dialogValgt {
    display: none;
    @media (min-width: @tabletMin) {
        display: flex;
    }
}

.info {
    display: none;
    @media (max-width: @mobilVisningMax) {
        display: block;
    }
}
