@import (reference) '~nav-frontend-core/less/_variabler';

.preview {
    border-left: 8px solid @navBla;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: @navDypBlaLighten80;
    }
}

.lest {
    border-left-color: transparent;
    .heading {
        font-weight: normal;
    }
}

.heading {
    font-size: 1rem;
}

.valgt {
    background-color: #e5eef2;

    &:hover {
        background-color: #e5eef2;
    }
}

.content {
    flex: 1;
    overflow: hidden;
    text-align: left;
}

.dato {
    color: @navGra80;
}

.sisteMelding {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875rem;
    color: @navGra80;
}
