
@keyframes fade-in-animation {
    from {
        max-height: 0px;
        overflow: hidden;
    }
    to {
        max-height: 200px;
    }
}
.fadeIn {
    transition: height 500ms;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-name: fade-in-animation;
}

.dialogPreview > div {
    width: calc(100% - 1.5rem) !important;
}