@import (reference) '~nav-frontend-core/less/_variabler';

.preview {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 0.7rem;
    border: 1px solid @navGra20;

    &:hover {
        box-shadow: @navGra40 2px 4px 8px 0;
    }

    .content {
        flex: 1;
        overflow: hidden;
        text-align: left;
        padding-right: 2rem;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;

        .heading {
            font-weight: normal;
            font-size: 1.2rem;
        }

        .sisteMelding {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 1rem;
            color: @navGra80;
        }

        .dato {
            color: @navGra80;
        }
    }
}

.ulest {
    border-left: 8px solid @navBla;

    .content {
        .heading {
            font-weight: 600;
        }
    }
    &:hover {
        border-left: 8px solid @navBla;
    }
}

.valgt {
    border: 3px solid @fokusFarge;
}
