@import (reference) '~nav-frontend-core/less/core';

.header {
    display: flex;
    flex-basis: 4rem;
}

.panel {
    display: flex;
    align-items: center;
}

.knapp {
    display: flex;
    margin-left: 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    fill: white;

    &:focus {
        fill: @navBla;
    }

    .plusslogo {
        margin-right: 0.5rem;
    }
}
