.header {
    display: flex;
}

.dialogKnapp {
    //Hovedknapp total mixin start = .knapp .knapp--hoved
    //Hovedknapp total mixin slutt

    display: flex;
    padding: 0.3rem 1rem 0.3rem 1rem;
    .plusslogo {
        fill: var(--a-white);
        margin-right: 0.5rem;
        align-self: center;
    }

    &:focus {
        .plusslogo {
            fill: var(--a-blue-500);
        }
    }

    &:active,
    &:hover {
        .plusslogo {
            fill: var(--a-white);
        }
    }
}
