.demoIkon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    :hover {
        text-decoration: underline;
    }
}

.demoIkon.polygon {
    fill: #ffa500;
}

.demoIkon.polygon:hover {
    fill: #ffb30f;
}