.invertedLesMer {
    margin-bottom: 1rem;
    :global {
        .lesMerPanel__togglelink {
            color: var(--a-gray-800);
        }
        .ReactCollapse--collapse {
            transition: height 500ms;
        }
    }
}

.toggle {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
