@import (reference) '~nav-frontend-core/less/core';

.snakkeboble {
    margin-left: 0;
    margin-right: 0;
    .snakkeboble-panel {
        flex-grow: 1;
        max-width: 44rem;
        padding-bottom: 0;
        overflow: hidden;
        overflow-wrap: break-word;

        &__tekst {
        }
    }

    &--hoyre {
        .snakkeboble-panel {
            text-align: left;
        }
    }
}

.ikon {
    width: 36px;
    height: 36px;
    margin-top: 2px;
    flex-shrink: 0;
}

.bruker-ikon {
    background: no-repeat data-uri('bruker.svg');
    background-size: cover;
}

.veileder-ikon {
    background: no-repeat data-uri('nav.svg');
    background-size: cover;
}

@media (max-width: 700px) {
    .snakkeboble {
        margin-left: 0;
        margin-right: 0;
        .snakkeboble-panel {
            flex-basis: 100%;
        }
    }
}
