@import (reference) '../../variabler';

.aktivitetContainer {
    display: none;
    background-color: @lysgraBakrund;

    @media (min-width: 1200px) {
        display: flex;
        width: 27%;
        max-width: 27rem;
    }
}
