.informasjonselement {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    min-width: 10rem;
}

.merkelapp {
    color: var(--a-gray-800);
    text-transform: uppercase;
}

.overflowEllipse > p {
    text-overflow: ellipsis;
    overflow: hidden;
}
