@import (reference) '../variabler';

.aktivitetContainer {
    overflow: auto;
    display: none;
    background-color: @navGraBakgrunn;

    .medium-responsive({display: flex; width: 27%; max-width: 27rem;});
}
