@import (reference) '~nav-frontend-core/less/core';

.aktivitetskort {
    background-color: @navLysGra;
    padding: 1rem 2rem;
    height: 100%;
}

.brodsmulesti {
    margin-bottom: 2rem;
    color: @navGra60;
}

.aktivitetkortlenke {
    margin: 1rem 0;
}

.ingress {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
