@import (reference) '~nav-frontend-core/less/core';

.aktivitetskort {
    background-color: @navLysGra;
    padding: 1rem 2rem;
}

.brodsmulesti {
    margin-bottom: 2rem;
    color: @navGra60;
}

.aktivitetkortlenke {
    margin: 1rem 0;
}
