@import (reference) '~nav-frontend-core/less/core';

.lenkepanelbase {
    display: flex;
    height: 71px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    margin: 0.75rem 1rem 0.75rem 1rem;

    @media (min-width: 800px) {
        margin: 0.75rem 3rem 0.75rem 3rem;
    }
}

.spaceBetween {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tittel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info {
    overflow: hidden;
}

.lesmer {
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
}
