@import (reference) '../variabler';

.aktivitetContainer {
    overflow: auto;
    display: none;
    background-color: @lysgraBakrund;

    @media (min-width: @lg-min) {
        display: flex;
        width: 27%;
        max-width: 27rem;
    }
}
