@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-typografi-style/src/mixins';
@import (reference) '~nav-frontend-typografi-style/src/fontimports';

.etikett {
    .typo-normal-mixin();
    font-size: 0.8rem;
    display: inline-block;
    border-radius: @border-radius-small;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.15rem;
    padding: 0 0.4rem;
}

.venterPaBruker {
    background-color: @navLimeGronnLighten80;
    border: 1px @navLimeGronnLighten20 solid;
}

.venterPaNav {
    background-color: @navLillaLighten80;
    border: 1px @navLillaLighten20 solid;
}

.viktigMelding {
    background-color: @redErrorLighten80;
    border: 1px @redErrorLighten20 solid;
}
