@import (reference) "~nav-frontend-core/less/core";
@import "~nav-frontend-typografi-style/src/index";


.App-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

