@import '~nav-frontend-core/less/core';

body {
    margin: 0;
}

html,
body,
#root,
.app {
    height: 100%;
    overflow: hidden;
}
.app {
    display: flex;
    flex-direction: column;
}

.app__body {
    display: flex;
    height: 100%;
    .dialog-overview {
        width: 100%;
    }
    .dialog {
        width: 100%;
        display: none;
    }
    .aktivitetkort {
        display: none;
    }

    &--dialogvisning {
        .dialog-overview {
            display: none;
        }
        .dialog {
            display: flex;
        }
    }

    @media (min-width: 800px) {
        .dialog-overview {
            display: flex;
            width: 35%;
        }
        .dialog {
            display: flex;
            width: 65%;
        }
    }
    @media (min-width: 1200px) {
        .dialog-overview {
            max-width: 30rem;
        }
        .aktivitetkort {
            display: block;
            width: 30%;
            background-color: @navLysGra;
            padding: 1rem;

            &__infobox__row{
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                justify-content: space-between;
                margin-bottom: 1rem;
                &__item{
                    width: calc(50% - 0.5rem);
                }
            }
        }
        .dialog {
            display: flex;
        }
    }
}
