@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navds-chat__bubble ol {
    list-style: decimal;
    padding-left: 16px;
    white-space: normal;
}

.navds-chat__bubble ul {
    list-style: disc;
    padding-left: 16px;
    white-space: normal;
}

.navds-chat__bubble pre:has(> code) {
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

.navds-chat__bubble code {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.navds-chat__bubble-wrapper {
    word-break: break-word;
}
