.wrapper {
    width: 100%;
}

.textarea {
    width: 100%;
    resize: none;
    min-height: 2.6rem;
}

.textareaFeil:not(:focus):not(:hover):not(:active) {
    border-color: var(--a-red-500);
    box-shadow: 0 0 0 1px var(--a-red-500);
}

.subContent {
    display: flex;
    justify-content: space-between;
}

.teller {
    text-align: right;
    color: var(--a-gray-600);
}

.inputFraNavDesign {
    appearance: none;
    padding: 0.5rem;
    background-color: var(--a-white);
    border: 1px solid var(--a-gray-600);
    box-sizing: border-box;
    line-height: 1.375rem;

    &:focus {
        outline: 0;
    }

    &:hover {
        border-color: var(--a-blue-500);
    }

    &:disabled,
    &[readonly] {
        background-color: var(--a-gray-200);
        border-color: var(--a-gray-600);
        box-shadow: none;
        color: var(--a-gray-800);

        &:hover {
            cursor: not-allowed;
        }
    }

    &--mini {
        padding: 0.25rem;
    }
}
